stages:
  - build
  - deploy
  - notify

variables:
  RESTART_FLAG: "/tmp/restart_docker.lock"
  # STAGING
  PROJECT_DIR_STAGING: "/opt/docker-odoo-sanbe/docker-odoo-131/develop/customize/sanbe-hrms"
  DOCKER_SERVICE_STAGING: "sanbe-hrms"
  BRANCH_STAGING: "staging"
  # PRODUCTION
  PROJECT_DIR_PROD: "/home/albert/my-docker/docker-sanbe-hrms/customize/sanbe-hrms/"
  APP_SERVICE_PROD: "OdooSanbe.service"
  BRANCH_PROD: "production"

image: alpine:latest

.default_before_script: &default_before_script
  before_script:
    - apk add --no-cache openssh-client curl wget jq dos2unix bash tzdata
    - ln -sf /usr/share/zoneinfo/Asia/Jakarta /etc/localtime
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" > /tmp/deploy_key
    - chmod 600 /tmp/deploy_key
    - ssh-add /tmp/deploy_key
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H ${DEPLOY_SERVER_STAGING} >> ~/.ssh/known_hosts
    - ssh-keyscan -H ${DEPLOY_SERVER_PROD:-$DEPLOY_SERVER} >> ~/.ssh/known_hosts    - mkdir -p /tmp/scripts
    - |
      scp -o StrictHostKeyChecking=no ${SSH_USER_PROD:-$SSH_USER}@${DEPLOY_SERVER_PROD:-$DEPLOY_SERVER}:/home/albert/script/send_notification.sh /tmp/scripts/
      if [ -f "/tmp/scripts/send_notification.sh" ]; then
        echo "✅ File successfully copied."
        dos2unix /tmp/scripts/send_notification.sh
        tr -d '\r' < /tmp/scripts/send_notification.sh > /tmp/scripts/send_notification_fixed.sh
        mv /tmp/scripts/send_notification_fixed.sh /tmp/scripts/send_notification.sh
        chmod +x /tmp/scripts/send_notification.sh
      else
        echo "❌ Error: /tmp/scripts/send_notification.sh not found!"
        exit 1
      fi

.default_prod_rule: &default_prod_rule
  - if: '$CI_COMMIT_BRANCH == $BRANCH_PROD'

.default_staging_rule: &default_staging_rule
  - if: '$CI_COMMIT_BRANCH == $BRANCH_STAGING'

# STAGING
update_project_staging:
  stage: build
  tags: [test4]
  <<: *default_before_script
  script:
    - echo "Deploying latest updates via SSH..."
    - |
      ssh -i /tmp/deploy_key $SSH_USER_STAGING@$DEPLOY_SERVER_STAGING <<EOF
      if [ -d "$PROJECT_DIR_STAGING" ]; then
        echo "Project directory exists. Pulling latest changes...";
        cd "$PROJECT_DIR_STAGING" && git pull origin $BRANCH_STAGING
        if [ $? -ne 0 ]; then
          git merge --abort
          echo "Error: Failed to pull from origin/$BRANCH_STAGING"
          exit 1
        fi
        echo "Success: Pulled latest project version";
        echo "$(date +%s)" > "$RESTART_FLAG"
      else
        echo "Error: Project directory does not exist!"
        exit 1
      fi
      EOF
  rules:
    - if: '$CI_COMMIT_BRANCH == $BRANCH_STAGING'
      when: always

restart_staging:
  stage: deploy
  tags: [test4]
  <<: *default_before_script
  script:
    - ssh -i /tmp/deploy_key $SSH_USER_STAGING@$DEPLOY_SERVER_STAGING "
      docker container restart $DOCKER_SERVICE_STAGING
      "
  rules: *default_staging_rule

notify_staging_success:
  stage: notify
  tags: [test4]
  <<: *default_before_script
  script:
    - /tmp/scripts/send_notification.sh "✅ Staging Deployment Successful!" "Success" 3066993 "SANBE HRMS - STAGING" "$WEBHOOK_URL"
  rules: *default_staging_rule
  when: on_success
  needs: [restart_staging]

notify_staging_failed:
  stage: notify
  tags: [test4]
  <<: *default_before_script
  script:
    - /tmp/scripts/send_notification.sh "❌ Staging Deployment Failed!" "Error" 15158332 "SANBE HRMS - STAGING" "$WEBHOOK_URL"
  rules: *default_staging_rule
  when: on_failure
  needs: [update_project_staging, restart_staging]
# END STAGING

# PRODUCTION
update_project_production:
  stage: build
  tags: [test4]
  <<: *default_before_script
  script:
    - echo "Deploying latest updates via SSH..."
    - |
      ssh -i /tmp/deploy_key $SSH_USER_PROD@$DEPLOY_SERVER_PROD <<EOF
      if [ -d "$PROJECT_DIR_PROD" ]; then
        echo "Project directory exists. Pulling latest changes...";
        cd "$PROJECT_DIR_PROD" && git pull origin $BRANCH_PROD
        if [ $? -ne 0 ]; then
          git merge --abort
          echo "Error: Failed to pull from origin/$BRANCH_PROD"
          exit 1
        fi
        echo "Success: Pulled latest project version";
        echo "$(date +%s)" > "$RESTART_FLAG"
      else
        echo "Error: Project directory does not exist!"
        exit 1
      fi
      EOF
  rules:
    - if: '$CI_COMMIT_BRANCH == $BRANCH_PROD'
      when: always

restart_production:
  stage: deploy
  tags: [test4]
  <<: *default_before_script
  script:
    - ssh -i /tmp/deploy_key $SSH_USER_PROD@$DEPLOY_SERVER_PROD "
      sudo systemctl restart $APP_SERVICE_PROD
      "
  rules: *default_prod_rule

notify_production_success:
  stage: notify
  tags: [test4]
  <<: *default_before_script
  script:
    - /tmp/scripts/send_notification.sh "✅ Production Deployment Successful!" "Success" 3066993 "SANBE HRMS - $BRANCH_PROD" "$WEBHOOK_URL"
  rules: *default_prod_rule
  when: on_success
  needs: [restart_production]

notify_production_failed:
  stage: notify
  tags: [test4]
  <<: *default_before_script
  script:
    - /tmp/scripts/send_notification.sh "❌ Production Deployment Failed!" "Error" 15158332 "SANBE HRMS - PRODUCTION" "$WEBHOOK_URL"
  rules: *default_prod_rule
  when: on_failure
  needs: [update_project_production, restart_production]
# END PRODUCTION
