# sphinx build directories
_build/

# dotfiles
.idea/
.idea/misc.xml
.idea/modules/xml
.idea/profiles_settings.xml
.idea/vcs.xml
.idea/*.iml
.*
!.gitignore
!.github
!.mailmap

# compiled python files
*.py[co]
__pycache__/
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
odoo/filestore

odoo/addons/__pycache__
# maintenance migration scripts
odoo/addons/base/maintenance

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# needed only when building for win32
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# js tooling
.husky


