.o_view_manager_content .o_view_manager_view.list_view.hide-searchpanel ~ .o_content .o_search_panel {
    display: none !important;
}

/* Tambahan (versi Owl baru) */
.o_list_view.hide-searchpanel ~ .o_search_panel {
    display: none !important;
}

/* Alternatif lebih umum (backward-compatible) */
.hide-searchpanel .o_search_panel {
    display: none !important;
}