.container{
    max-width: 100%;
}
.background{
    height:100%;
    display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(0px);
	z-index: -1;
}
.body_layout {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
	/* background-color: red !important; */
     opacity:0.7;
}


#bcard{
    padding: 3%;
	background-color: transparent !important;
    /* opacity:0; */
    height: 100%;
    max-width:40vw;
    min-width: 40vw;
}

.body_login input,
.body_login select {
	background-color: transparent !important;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #FED766;
	border-radius: 0px;
	color: black;
	font-size: 18px;
	font-weight: 300;
	transition: border-color 0.7s ease;
	box-shadow: none!important;
	text-align: center;
}

#login{
  color: black;
}

form .form-group.field-login {
    position: relative;
}

form .form-group.field-login input{
    padding: 0.5rem 1.75rem 0.5rem 0.75rem;
}
form .form-group.field-login i {
    position: absolute;
    top: 42px;
    right: 12px;
    color: black;
}
#password{
  color: black;
}
form .form-group.field-password {
    position: relative;
}

form .form-group.field-password input{
    padding: 0.5rem 1.75rem 0.5rem 0.75rem;
}
form .form-group.field-password i {
    position: absolute;
    top: 42px;
    right: 12px;
    color: black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
span.input-group-btn button.btn.btn-default {
    outline: none;
}
